#app {
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 256px;
  height: 100vh;
  background-color: #343a40;
  box-shadow: 5px 0 5px 0 #aaa;
}

.sidebar span {
  color: #fff;
}

.sidebar span:hover {
  text-decoration: underline;
}

.sidebar .logo {
  color: #fff;
}
